<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
  <add name="connectionString" connectionString="Data Source=;Initial Catalog=BASF_SP; Integrated security = true"/>
  </connectionStrings>
  <appSettings>
    <add key="APPNAME" value="SCHEDULER"/>
    <add key="TableName_OrphanedUsers" value="OrphanedUsers"/>
    <add key="TableName_Principals" value="Principals"/>
    <add key="TableName_SecurableObjects" value="SecurableObjects"/>
    <add key="TableName_Usage" value="Usage"/>
    <add key="TableName_Errorlog" value="InsertError"/>
    <add key="TableName_Applicationlog" value="SchedulerLogs"/>
    <add key="TableName_SiteCollections" value="SiteCollections"/>
    <add key="InternalUserDomain" value="BASF.COM"/>
    <add key="ExternalUserrDomain" value="PARTNERS.BASF.COM"/>
    <add key="ContractUserrDomain" value="domainname"/>
    <add key="ADGroupUserDomain" value="domainname"/>
   <add key="UserName" value=""/>
  <add key="Password" value=""/>
    <!--Change the value for CheckSPO, change -->
   <add key="CheckSPO" value="HBI"/>
  </appSettings>
</configuration>
